<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>

<p>baris kode berikut akan digunakan untuk mengambil komponen berdasarkan nama komponen dari direktory assets <br></p>

<%= react_component 'Main'%>
