<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<p>
    halaman ini ditampilkan setelah menjalankan method show pada controller article.<br>
    dari method telah diset bahwa variabel @article berisi value dari parameter yang telah difind dari database berdasarkan idnya.<br>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title%>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text%>
</p>
